<!-- public/partials/foto.html -->

<div class="page-header text-center">
    <h1>{{foto.titulo}}</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p><!-- no length 0 é false e todo outro número que nao for zero é true -->

<form novalidate name="formulario" class="row" ng-submit="submeter()"><!-- Captura o evento de submit com o angular e exutar a funcao submeter no controller -->
    <div class="col-md-6">
        <div class="form-group">
            <label>Título</label>
            <input ng-model="foto.titulo" name="titulo" class="form-control" required ng-maxlength="20">
            <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
                Titulo Obrigatório
            </span>
            <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
                Deve ter no máximo 20 caracteres
            </span>
        </div>
        <div class="form-group">
            <label>URL</label>
            <input ng-model="foto.url" name="url" class="form-control" required>
            <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
                Url Obrigatória
            </span>
        </div>
        <div class="form-group">
            <label>Descrição</label>
            <textarea ng-model="foto.descricao" name="descricao" class="form-control">
            </textarea>
        </div>

        <div ng-controller="GruposController" class="form-group" >
            <label>Grupo</label>
            <select ng-model="foto.grupo" name="grupo" class="form-control" required 
                    ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos" ><!-- grupo._id é o valor do value no option, as grupo.nome quer dizer que será colocado o nome do grupo como label do option, grupos vem do controller -->
                <option value="">Selecione Grupo</option>
            </select>           
            <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
                Grupo Obrigatório
            </span>
        </div>
        
        <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">
            Salvar
        </button>
         <a href="/#/fotos" class="btn btn-primary">Voltar</a>
        <hr>
    </div>
    <div class="col-md-6">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        
    </div>
</form>