<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p ng-show="mensagem.length" class="alert alert-info">{{mensagem}}</p><!-- no length 0 é false e todo outro número que nao for zero é true -->


<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="/#/fotos/new" class="btn btn-primary">Nova Foto</a>
                </span>
                <input ng-model="filtro" ng-model-options="{debounce: 500}" 
                       class="form-control" placeholder="filtrar"><!-- ng-model é bidirecional se alterar o valor aqui altera no controller, ng--model-options debounce é para ele atualizar o valor com um delay de 500 milisegundos -->
            </div>
        </form>
    </div>
</div>

<div class="row">

    <meu-painel ng-repeat="foto in fotos| filter: filtro"
                titulo="{{foto.titulo}}" 
                class="col-md-2 painel-animado">
        <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}"></minha-foto>
        <a href="/#/fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
        <meu-botao-perigo acao="remover(foto)" nome="Remover"></meu-botao-perigo>
    </meu-painel>      
    <!-- fimdo panel -->  
</div>